*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --base-color: #191919;
  --body-color: white;
  --header-background-color: #222222;
  --header-color: white;
  --output-color: rgb(136, 255, 0);
  --output-background-color: #050102;
  --btn-background-color: #750e21;
  --btn-color: #ffffff;
  --form-control-color: #bed754;
  --btn-highlight-color: #e3651d; }

body {
  display: flex;
  font-size: 62.5%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  background: var(--base-color);
  color: var(--body-color); }

html {
  font-family: monospace; }

header {
  padding: 2.4rem;
  background: var(--header-background-color);
  color: var(--header-color);
  border-radius: 1.2rem; }

h1 {
  font-size: 2.4rem; }

main {
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  /* gap: 1rem; */
  flex-direction: column; }
  main .passLength-container,
  main .numbers-container,
  main .lowercase-alphabets-container,
  main .uppercase-alphabets-container,
  main .special-container {
    padding: 1.6rem;
    display: inline-flex;
    gap: 2rem; }
    main .passLength-container .option-container,
    main .numbers-container .option-container,
    main .lowercase-alphabets-container .option-container,
    main .uppercase-alphabets-container .option-container,
    main .special-container .option-container {
      display: flex;
      align-items: center;
      gap: 1rem; }

.pass-output {
  padding: 2rem;
  background: var(--output-background-color);
  border: 2px solid #750e21;
  border-radius: 10px;
  color: var(--output-color);
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center; }

.btn-genrate {
  text-transform: capitalize;
  letter-spacing: 1.2px;
  margin: 0 auto;
  max-width: fit-content;
  border: none;
  background: var(--btn-background-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--btn-color);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2); }

.btn-genrate:hover {
  cursor: pointer; }

.btn-genrate:active {
  background: var(--btn-highlight-color); }

input[type="radio"] {
  appearance: none;
  /* Not removed via appearance  */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  aspect-ratio: 1;
  border: 0.1em solid #830808;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: scale(0);
    /* transition: 120ms transform ease-in-out; */
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText; }
  input[type="radio"]:checked::before {
    transform: scale(1); }
  input[type="radio"]:not(:checked) + label {
    color: #777; }

/* input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */
footer {
  padding: 1.8rem; }

/* Define a media query for screens smaller than a certain width, e.g., 768px */
@media only screen and (max-width: 768px) {
  main {
    padding: 1rem;
    /* Reduce the padding for main content */
    font-size: 1.2rem; }
    main .passLength-container,
    main .numbers-container,
    main .lowercase-alphabets-container,
    main .uppercase-alphabets-container,
    main .special-container {
      padding: 1.2rem;
      gap: 1.2rem; }
  .pass-output {
    padding: 1rem;
    /* Reduce the padding for the password container */
    font-size: 1.2rem; }
  header {
    padding: 1.2rem;
    /* Reduce the padding for the header */ }
  footer {
    padding: 1rem;
    /* Reduce the padding for the footer */ } }
